* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --box-shadow: -8px -8px 12px 0px rgba(255, 255, 255, 0.25), 
                    -4px -4px 8px 0px rgba(255, 255, 255, 0.75),
                    8px 8px 12px 0px rgba(189, 194, 199, 0.25), 
                    4px 4px 8px 0px rgba(189, 194, 199, 0.75);  
    --box-shadow-inset:inset 2px 2px 8px 0px rgba(189, 194, 199, 0.75), 
                            4px 4px 8px 0px rgba(255, 255, 255, 0.75); 
    --bg-color: #EBEFF3;
    --border-radius: 12px;
    --color-tomato: #FC5132;
    --color-blue: #5585FF;
    --color-purple-pink: #EB77D8;
    --color-emerald: #4ADEE8;
    --color-green: #6AE1B7;
    --text-color : #4A4A4A;
}
body {
    font-family: "Quicksand", serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 280px 3fr;
    grid-template-areas: "nav header" "nav main";
    gap: 10px;
}
/* Header */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--bg-color);
    padding: 20px;
}
.header__title {
    display: block;
}
.header__content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__content-date{
border: none;
}
#current-date {
    border: none;
    width: 198px;
    height: 48px;
    background-color: inherit;
    box-shadow: var(--box-shadow-inset);
    border-radius: var(--border-radius);
    padding: 10px;
    font-family: inherit;
}
.header__content-user {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.header__userinfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}
/* Sidebar menu */
.nav-panel {
    grid-area: nav;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: var(--box-shadow);

}
.nav-panel__menu {
    margin-top: 10px;
}
.nav-panel__logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    margin-bottom: 70px;
    color: var(--color-tomato);
}

.nav-panel__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 24px;
    list-style: none;
    min-height: 70vh;
    padding: 0;
}

.nav-panel__link {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 20px; 
    text-decoration: none;
    color: inherit;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    width: 90%;
    margin: 0 auto;  
    text-align: center; 
}

.nav-panel__icon {
    width: 22px;
    height: 22px;
    fill: currentColor !important;
    flex-shrink: 0;
}

.nav-panel__link:hover .nav-panel__icon {
    fill: var(--color-tomato) !important;
}

.nav-panel__link:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--color-tomato);
}

/* Main */
.main {
    grid-area: main;
    background-color: var(--bg-color);
    padding: 20px;
}
.main-wrapper {
    display: grid;
    gap: 20px;
    padding-bottom: 40px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "sleep-time total-info smart-alarm"
        "wake-up total-info smart-alarm"
        "stages stages smart-alarm"
        "quality tips smart-alarm"
        "quality scores smart-alarm";  
}


/* Total Info Section */
.total-sleep {
    grid-area: total-info;
    padding: 20px;  
    width: 100%;
    height: auto;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.card-total {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    gap: 16px;  
    align-items: center;  
}

.card-total__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
}
.card-time {
    background-color: inherit;
    box-shadow: var(--box-shadow-inset);
    border-radius: var(--border-radius);
    font-family: inherit;
    width: 122px;
    padding: 8px;
    font-weight: 600;
    text-align: center;
}

/* Sleep-time Section */
.sleep-time{
    grid-area: sleep-time;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.card-sleep-time {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.card-sleep-time__content {
    display: flex;
    flex: content;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
}
/* Wake-up Section */
.wake-up{
    grid-area: wake-up;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.card-wake-up {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.wake-up__content {
    display: flex;
    flex: content;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
}

.stages{
    grid-area: stages;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.stages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.sleep-tracker {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    padding: 20px;
    margin: 0 auto;
  }
  .progress-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    flex: 1;
  }
  .progress-card {
    background: var(--bg-color);
    border-radius: var(--border-radius);
    min-width: 150px;
    padding: 15px;
    text-align: center;
    box-shadow: var(--box-shadow)
  }
  .progress-card h3 {
    margin: 0 0 10px;
    font-size: 1.1em;
    color: inherit;
  }
  .progress-container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .progress-ring {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
  }
  /* Right Section: Bar Graph */
  .bar-graph {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: flex-end;
    flex: 2;
  }
  
  .bar {
    display: flex;
    flex-direction: column-reverse;
    width: 25px;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-inset);
  }
  
  /* Bar Heights and Colors */
  .bar-1 { height: 180px; 
    border-radius: var(--border-radius);
    background: var(--color-emerald); }
  .bar-2 { height: 150px; 
    border-radius: var(--border-radius);
    background: var(--color-blue) }
  .bar-3 { height: 120px; 
    border-radius: var(--border-radius);
    background: var(--color-purple-pink); } 
  .bar-4 { height: 100px; 
    border-radius: var(--border-radius);
    background: var(--color-green) }
  .bar-5 { height: 130px; 
    border-radius: var(--border-radius);
    background: var(--color-emerald) }
  .bar-6 { height: 160px; 
    border-radius: var(--border-radius);
    background: var(--color-blue) }
  .bar-7 { height: 190px; 
    border-radius: var(--border-radius);
    background: var(--color-purple-pink) }
  .bar-8 { height: 170px; 
    border-radius: var(--border-radius);
    background: var(--color-green) }

  .quality{
    grid-area: quality;
    padding: 20px;  
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.tips{
    grid-area: tips;
    padding: 20px;  
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.scores{
    grid-area: scores;
    padding: 20px;  
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.smart-alarm{
    grid-area: smart-alarm;
    padding: 20px;  
    max-width: 460px;
    height: auto;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
    .container {
      grid-template-columns: 200px 1fr;
    }
    .main-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "sleep-time total-info"
        "wake-up total-info"
        "stages stages"
        "quality tips"
        "scores smart-alarm";
    }
    .smart-alarm {
      grid-column: span 2; /* Увеличиваем ширину smart-alarm */
    }
  }

  @media (max-width: 1024px) {
    .container {
        grid-template-columns: 96px 1fr; /* Обновляем ширину первого столбца */
    }
    .nav-panel {
        width: 96px;
    }

    .nav-panel__logo {
        display: none;
    }

    .nav-panel__link {
        align-items: center;
        justify-content: center;
    }

    .nav-panel__text {
        display: none;
    }
}

  @media (max-width: 768px) {
    .container {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "header" 
        "main";
    }
    .nav-panel {
      display: none; /* Скрываем навигацию, можно заменить на выдвижное меню */
    }
    .main-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "total-info"
        "sleep-time"
        "wake-up"
        "stages"
        "quality"
        "tips"
        "scores"
        "smart-alarm";
    }
    .smart-alarm {
      grid-column: auto; /* Возвращаем стандартное поведение */
    }
  }

  @media (max-width: 480px) {
    .header__content {
      flex-direction: column; /* Элементы заголовка в столбец */
      align-items: flex-start;
    }
    .header__content-date {
      width: 100%;
    }
    #current-date {
      width: 100%;
    }
    .main-wrapper {
      padding: 10px; /* Уменьшаем отступы */
    }
    .progress-grid {
      grid-template-columns: 1fr; /* Прогресс-карточки в одну колонку */
    }
    .bar-graph {
      flex-direction: column; /* Бары вертикально */
      align-items: center;
    }
    .bar {
      width: 100%; /* Бары на всю ширину */
      height: 20px; /* Фиксированная высота */
      margin: 5px 0;
    }
  }


